body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #1a1dbc;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #1a32bc;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    background-color: #1a38bc;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1679a0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
